body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    background-color: rgb(180, 56, 73);
    color: rgb(155, 169, 25);
    border: none;
}

li {
    margin: 10px;
}
